*{
    margin: 0;
    padding: 0;
    }
    


.navegacion{
    width: 100%;
    background-color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    
}

.navegacion h1{
   font-size: 30px; 
   text-transform: uppercase;
}

.navegador a{
    text-decoration: none;
    margin-left: 18px;
    color: black;

}

.redes a{
    color:dimgray;
    margin-left: 10px;
}
/* falta poner  hover*/

/*inicia 1er section*/

main {
    width: 100%;
}


.hero1-inicio{
background-color: rgba(245,223,78,255);
padding: 80px 0;
display: flex;
justify-content: center;
align-items: center;
}

.datos {
    margin-right: 100px;

}

.datos h2{
    text-transform: uppercase;
    font-size: 30px;
}

.datos h1{
    font-size: 70px;
    padding: 10px 0;
}

.datos h3{
    padding-bottom: 25px;

}

.datos button{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px 25px;
    margin-right: 30px;
}

.datos a{
    color: black;
}

.img-perfil {
    width: 20%;
    border-radius: 50%;
    border: 15px solid white;
    box-shadow: 5px 5px 100px rgb(109, 98, 64);
} 


/*INICIO SECCION 2*/

.hero2-acercaDe{
    background-color: white;
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

h4{
    padding: 2px 6px;
    background-color: rgba(245,223,78,255);
}

h2{
    padding: 10px 0;
}

.exp{
    font-size: 30px;
}

/*VER COMO PONGO NEGRITA EN EVA GILLIG*/


.contenedor-acerca{
    display: flex;
    padding: 30px;
}

.acerca-de-mi{
    width: 800px;
}


.acerca-de-mi p{
    padding: 5px 0;
}


.eva{
    text-decoration-line: underline;
    text-decoration-color: rgba(245,223,78,255);
    
}

/*ver subrayar linea amarilla más gruesa*/

.años{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 80px;
}

.años p{
    text-align: center;
    padding: 20px;
}

.contenedor-circulo{
    background-color: rgba(245,223,78,255);
    border-radius: 50%;
    width:70px;
    height: 70px;

}
.circulo {
    font-size: 80px;
   
}

.datos-personales{
    display: flex;
   
    
}

.nombre,.email,.nacimiento, .from {
    margin-right: 80px;
}

.datos-personales h5{
    font-size: 20px;
}
.mail {
    text-decoration: underline;
}


/*INICIA SECTION 3*/



.hero3-conocimientos{
    background-color: rgba(248,249,250,255);
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
}

.caja{
    width: 70%;
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

/*PREGUNTAR AL PROFE SI SE PUEDE PONER EN WiDTH %!!!*/

.caja i{
    font-size: 70px;
    color: rgba(245,223,78,255);
    padding: 10px;
    
}

.caja h3{
    padding: 10px;
}
.caja p{
    color: dimgrey;
}


.grafic, .design,.developer,.brand,.business,.marketing{
    text-align: center;
    width: 300px;
    padding: 30px;

}


/*INICIA SECTION HERO 4*/

.hero4-resume{
    background-color: aquamarine;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.tituloyexperiencia{
    display: flex;
    width: 1300px;

}
.caja-titulos, .caja-experiencia {
    display: flex;
    width: 630px;   
  
}

.edu-titulos, .experiencia {
    padding: 0 41px 1px 6px;
    border-left: 3px solid rgba(245,223,78,255);
    
}




.habil {
    padding-top: 30px;
    padding-bottom: 20px;
}



.habilidades{
    background-color: deeppink;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    
    
}

.textos{
    width: 630px;
    padding: 10px 0;

    
        
}

.textos1{
    width: 630px;
    padding: 10px 0;
    
  
        
}
/*
.izquierda{
    text-align: left;
}

.derecha {
    text-align:unset;
}
VER UBICACION PALABRAS*/

.contenedor {
    width: 625px;
    background-color:rgba(248,249,250,255) ;
    height: 4px;
    border-radius: 100px;

}

.barra1 {
    width: 65%;
    height: 4px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
  
}
.barra2 {
    width: 70%;
    height: 4px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.barra3 {
    width: 95%;
    height: 4px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.barra4 {
    width: 60%;
    height: 4px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.barra5 {
    width: 80%;
    height: 4px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.barra6 {
    width: 99%;
    height: 4px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.boton button{
    color: black;
    text-decoration: none;
    padding: 10px 30px;
    border: 2px solid black;
    margin-top: 40px;
    
}

/*COMIENZA SECCION HERO 5- */

.hero5-proyectos{
    background-color:white;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

.imagenes {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;

}

img {
    width: 30%;
    margin: 10px;

}

/*INICIA FOOTER*/



footer{
    background-color:rgba(245,223,78,255) ;
    padding: 60px 0;
    display: flex;
    width: 100%;
    justify-content: center;

 }

 .contacto {
    width: 400px;
 }

 .contacto h2{
   padding-bottom: 20px;
    
 }

 .contacto p{
    padding-bottom: 30px;

 }

 .redesFooter a {
    color:dimgray;
    margin-right: 10px;
    }

.formulario{
    margin-left: 70px;
    width: 500px;
    justify-content: center;
}
 form {
    width: 75%;
    display: flex;
    flex-direction: column;
    
 }
 
 .formulario h2{
    padding-bottom: 20px;
 }


 label {
    padding: 10px 0;
 }

 input {
    padding: 5px;
    border:0;
    border-bottom: 1px solid grey;
    background-color: rgba(245,223,78,255);

 }

 textarea{
    resize: vertical;
    height: 100px;
    background-color: rgba(245,223,78,255);
    border: 0;
    border-bottom: 1px solid grey;

 }

 .enviar{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: black;
    border: 2px solid black;
    margin-top: 10px;
    width: 120px;
 }