@import url('https://fonts.googleapis.com/css2? family= Be+Vietnam+Pro:wght@200 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Be+Vietnam+Pro:wght@100 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    }
  html {scroll-behavior: smooth;
}  


.navegacion{
    width: 100%;
    background-color: white;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    
    
}

.navegacion h1{
   font-size: 30px; 
   text-transform: uppercase;
   font-family: 'Be Vietnam Pro', sans-serif;
   font-weight: 900;
   margin-left: 75px;
  
}

.navegador a{
    text-decoration: none;
    margin-left: 18px;
    color: black;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 900;
    font-size: 16px;
  
}

.navegador a:hover{
    color:rgba(245,223,78,255) ;
    text-decoration-line: underline;
    
    
}

.redes {
    margin-right: 50px;
}

.redes a{
    color:dimgray;
    margin-left: 10px;
    font-size: 18px;
}

.redes a :hover {
   color:rgba(245,223,78,255) ;
   
}

/*COMIENZA CSS EN 1ER SECTION*/

main {
    width: 100%;
}


.hero1-inicio{
background-color: rgba(245,223,78,255);
padding: 80px 0;
display: flex;
justify-content: space-around;
align-items: center;

}

.datos {
    margin-right: 10px;
    padding-top: 80px;
    margin-left: 95px;

}

.datos h2{
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 100;
    padding-top: 80px;
}

.datos h1{
    font-size: 70px;
    padding: 5px 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600 ;
}

.datos h3{
    padding-bottom: 18px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;


}

.boton-trabajos{
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 10px 25px;
    margin-right: 30px;
    font-size: 18px;
    font-family:'Be Vietnam Pro', sans-serif;
    cursor: pointer;
}



.datos a{
    color: black;
    font-family:'Be Vietnam Pro', sans-serif;
    font-weight: 600;

}

.flecha{
    font-weight: 900;
    font-size: 20px;
}



.img-perfil {
    width: 20%;
    border-radius: 50%;
    border: 15px solid white;
    box-shadow: 5px 5px 100px rgb(109, 98, 64);
    margin-top: 90px;
    margin-right: 80px;
} 


/*INICIO SECCION 2*/

.hero2-acercaDe{
    background-color: white;
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    

}

h4{
    padding: 2px 6px;
    background-color: rgba(245,223,78,255);
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

h2{
    padding: 10px 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 32px;
    font-weight: 600;
}


.contenedor-acerca{
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.acerca-de-mi{
    width: 1100px;
}


.acerca-de-mi p{
    padding: 10px 0;
    font-family:  'Be Vietnam Pro', sans-serif;
    line-height: 28px;
    font-size: 20px;
    font-weight: 300;
}

.texto-hola{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 25px;
    font-weight: 200;
}

.eva{
    font-weight: 700;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 25px;
    width: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgba(245,223,78,255);
    border-bottom-width: 3px;
    line-height: 15px;
   
    
}


.años{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;
}

.años p{
    text-align: center;
    padding: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.exp{
    font-size: 25px;
    font-weight: 600;
}

.contenedor-circulo{
    background-color: rgba(245,223,78,255);
    border-radius: 50%;
    width:70px;
    height: 70px;

}
.circulo {
    font-size: 90px;
   
}

.datos-personales{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    width: 1300px;
    
   
    
}

.nombre,.email,.nacimiento, .from {
    padding-top: 30px;

}

.datos-personales p{
    font-family:'Be Vietnam Pro', sans-serif ;
    color: dimgrey;
    font-weight: 600;
    font-size: 19px;
}
.datos-personales h5{
    font-size: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 40px;
    font-weight: 600;

}
.mail {
    text-decoration: underline;
}





/*INICIA SECTION 3*/



.hero3-servicios{
    background-color: rgba(248,249,250,255);
    padding: 80px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
   
    
}

.caja{
    width: 70%;
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}


.caja i{
    font-size: 70px;
    color: rgba(245,223,78,255);
    padding-bottom: 20px;
    
}

.caja h3{
    padding: 10px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-size: 23px;
    font-weight: 600;
 
}
.caja p{
    color: rgb(120, 118, 118);
    font-family:'Be Vietnam Pro', sans-serif ;
    font-weight: 600;
    margin-top: 10px;
}


.grafic, .design,.developer,.brand,.business,.marketing{
    text-align: center;
    width: 300px;
    height: 150px;
    padding: 40px;
    margin-top: 20px;

}


/*INICIA SECTION HERO 4*/

.hero4-resume{
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.tituloyexperiencia{
    display: flex;
    width: 1400px;

}
.caja-titulos, .caja-experiencia {
    display: flex;
    width: 630px;
    padding-top: 50px;   
  
}

.edu-titulos, .experiencia {
    padding: 0 41px 1px 6px;
    border-left: 3px solid rgba(245,223,78,255);
    height: 600px;
    
}

.edu-titulos h2{
    padding: 5px 10px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-size: 22px;
    font-weight: 600;  
}

.edu-titulos h3{
    padding: 10px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-size: 20px;
    font-weight: 600;  
    color: rgb(63, 62, 62);
}

.edu-titulos p {
    padding: 10px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-size: 16px; 
    color: rgb(120, 118, 118);
    font-weight: 600;
}

.linea {
    margin: 25px 10px;
}

.experiencia h2{
    padding: 5px 10px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-size: 22px;
    font-weight: 600;  
}

.experiencia h3{
    padding: 10px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-size: 20px;
    font-weight: 600;  
    color: rgb(63, 62, 62);
}

.experiencia p {
    padding: 10px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-size: 16px; 
    color: rgb(120, 118, 118);
    font-weight: 600;
}


.habil {
    margin-top: 60px;
    padding-bottom: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
}



.habilidades{
    width: 1450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
}

.cadaskill{
    padding: 15px 0;

}

.textosSkill{
    display: flex;
    justify-content: space-between;
    width: 700px ;
    margin-bottom: 5px;
            
}

.textosSkill p{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.contenedor {
    width: 700px;
    background-color: rgb(234, 232, 232);
    height: 7px;
    border-radius: 100px;

}

.barra1 {
    width: 85%;
    height: 7px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
  
}
.barra2 {
    width: 75%;
    height: 7px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.barra3 {
    width: 60%;
    height: 7px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.barra4 {
    width: 70%;
    height: 7px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.barra5 {
    width: 85%;
    height: 7px;
    background-color: rgba(245,223,78,255);
    border-radius: 90px;
}

.barra6 {
    width: 85%;
    height: 7px;
    background-color: rgba(245,223,78,255);
    border-radius: 100px;
}

.descargar-cv{
    background-color: white;
    padding: 10px 30px;
    border: 2px solid black;
    margin-top: 40px;
    font-family:'Be Vietnam Pro', sans-serif ;
    font-weight: 600;
    font-size: 18px;
    
}

.cv{
    color: black;
    text-decoration: none;
    }




/*COMIENZA SECCION HERO 5- */

.hero5-portfolio{
    background-color: rgba(248,249,250,255);
    padding: 80px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  
}

.imagenes {
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    justify-content: center;
    margin-top: 70px;

}

img {
    width: 30%;
    margin: 10px;
   

}

    





/*INICIA FOOTER*/



footer{
    background-color:rgba(245,223,78,255) ;
    padding: 60px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    

 }

 .contacto {
    width: 600px;
    margin-left: 30px;
 }

 .contacto h2{
   padding-bottom: 20px;
   font-family: 'Be Vietnam Pro', sans-serif;
    
 }

 .contacto p{
    padding-bottom:  30px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;

 }

 .contacto h3{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 600;
 }

 .redesFooter {
    margin-top: 20px;
 }


 .redesFooter a {
    color:dimgray;
    margin-right: 12px;
    font-size: 25px;
    }

.redesFooter a :hover {
    color:black;
      
        }

.formulario{
    margin-left: 70px;
    width: 500px;
    justify-content: center;
}
 form {
    width: 75%;
    display: flex;
    flex-direction: column;
    
 }
 
 .formulario h2{
    padding-bottom: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
 }


 label {
    padding: 10px 0;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 300;
 }

 input {
    padding: 5px;
    border:0;
    border-bottom: 1px solid grey;
    background-color: rgba(245,223,78,255);

 }

 textarea{
    resize: vertical;
    height: 100px;
    background-color: rgba(245,223,78,255);
    border: 0;
    border-bottom: 1px solid grey;

 }

 .enviar{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    background-color: black;
    border: 2px solid black;
    margin-top: 10px;
    width: 120px;
 }